.name {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 56px;
  text-align: center;
}

.first{

}
.last {

}

.intro {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

 .icons {
   margin: 0 auto;
 }
.space {
  margin-left: 45px;
  margin right: 45px;
}
